body {
	font-size: 16px;
}

#header-nav {
  background-color: #aaaaaa;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
	font-size: 3em;
}

button:hover, button:focus {
	background-color: #eeeeee;
}

#navbarSupportedContent {
	clear: both;
}

.navbar {
	padding-bottom: 0;
}

li {
	background-color: #ffffff;
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 2px;
	margin-left: -10px;
	margin-right: -10px;
}

.nav-item:hover {
	background-color: #e0e0e0;
}

#custom-title {
	text-align: center;
	padding-top: 15px;
}

/* 576px */
@media (min-width: 576px) {
	.custom-class {
		display: none;
	}
}

h2 {
	text-align: center;
}

.custom-main {
	float: left;
}

.section {
	margin: 10px;
	padding: 10px;
	background-color: #bbbbbb;
}