<style>

/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}
h2 {
  margin-top: 0px;
  float: right;
}

.bg-pink {
  background: pink;
}

.bg-red {
  background: red;
}

.bg-yellow {
  background: yellow;
}

/* Simple Responsive Framework. */
.row {
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: #000000;
}

.section {
    border: 3px solid black;
    height: 200px;
    margin: 5px;
    background-color: #a0a0a0;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-12 {
    width: 100%;
  }

}

/********** small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}


p {
  padding: 4px;
  clear: both;
  margin:0;
}


</style>